openapi: 3.0.1
servers:
- url: //api.ote-godaddy.com/
tags:
- name: v1
  description: ""
- name: Domains
  description: ""
- name: Actions
  description: ""
- name: Notifications
  description: ""
paths:
  /v1/domains:
    get:
      tags:
      - v1
      summary: Retrieve a list of Domains for the specified Shopper
      operationId: list
      parameters:
      - name: X-Shopper-Id
        in: header
        description: Shopper ID whose domains are to be retrieved
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: statuses
        in: query
        description: Only include results with `status` value in the specified set
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ACTIVE
            - AWAITING_CLAIM_ACK
            - AWAITING_DOCUMENT_AFTER_TRANSFER
            - AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT
            - AWAITING_DOCUMENT_UPLOAD
            - AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY
            - AWAITING_PAYMENT
            - AWAITING_RENEWAL_TRANSFER_IN_COMPLETE
            - AWAITING_TRANSFER_IN_ACK
            - AWAITING_TRANSFER_IN_AUTH
            - AWAITING_TRANSFER_IN_AUTO
            - AWAITING_TRANSFER_IN_WHOIS
            - AWAITING_TRANSFER_IN_WHOIS_FIX
            - AWAITING_VERIFICATION_ICANN
            - AWAITING_VERIFICATION_ICANN_MANUAL
            - CANCELLED
            - CANCELLED_HELD
            - CANCELLED_REDEEMABLE
            - CANCELLED_TRANSFER
            - CONFISCATED
            - DISABLED_SPECIAL
            - EXCLUDED_INVALID_CLAIM_FIREHOSE
            - EXPIRED_REASSIGNED
            - FAILED_BACKORDER_CAPTURE
            - FAILED_DROP_IMMEDIATE_THEN_ADD
            - FAILED_PRE_REGISTRATION
            - FAILED_REDEMPTION
            - FAILED_REDEMPTION_REPORT
            - FAILED_REGISTRATION
            - FAILED_REGISTRATION_FIREHOSE
            - FAILED_RESTORATION_REDEMPTION_MOCK
            - FAILED_SETUP
            - FAILED_TRANSFER_IN
            - FAILED_TRANSFER_IN_BAD_STATUS
            - FAILED_TRANSFER_IN_REGISTRY
            - HELD_COURT_ORDERED
            - HELD_DISPUTED
            - HELD_EXPIRATION_PROTECTION
            - HELD_EXPIRED_REDEMPTION_MOCK
            - HELD_REGISTRAR_ADD
            - HELD_REGISTRAR_REMOVE
            - HELD_SHOPPER
            - HELD_TEMPORARY
            - LOCKED_ABUSE
            - LOCKED_COPYRIGHT
            - LOCKED_REGISTRY
            - LOCKED_SUPER
            - PARKED_AND_HELD
            - PARKED_EXPIRED
            - PARKED_VERIFICATION_ICANN
            - PENDING_ABORT_CANCEL_SETUP
            - PENDING_AGREEMENT_PRE_REGISTRATION
            - PENDING_APPLY_RENEWAL_CREDITS
            - PENDING_BACKORDER_CAPTURE
            - PENDING_BLOCKED_REGISTRY
            - PENDING_CANCEL_REGISTRANT_PROFILE
            - PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_COMPLETE_REGISTRANT_PROFILE
            - PENDING_COO
            - PENDING_COO_COMPLETE
            - PENDING_DNS
            - PENDING_DNS_ACTIVE
            - PENDING_DNS_INACTIVE
            - PENDING_DOCUMENT_VALIDATION
            - PENDING_DOCUMENT_VERIFICATION
            - PENDING_DROP_IMMEDIATE
            - PENDING_DROP_IMMEDIATE_THEN_ADD
            - PENDING_EPP_CREATE
            - PENDING_EPP_DELETE
            - PENDING_EPP_UPDATE
            - PENDING_ESCALATION_REGISTRY
            - PENDING_EXPIRATION
            - PENDING_EXPIRATION_RESPONSE
            - PENDING_EXPIRATION_SYNC
            - PENDING_EXPIRED_REASSIGNMENT
            - PENDING_EXPIRE_AUTO_ADD
            - PENDING_EXTEND_REGISTRANT_PROFILE
            - PENDING_FAILED_COO
            - PENDING_FAILED_EPP_CREATE
            - PENDING_FAILED_HELD
            - PENDING_FAILED_PURCHASE_PREMIUM
            - PENDING_FAILED_RECONCILE_FIREHOSE
            - PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_FAILED_RELEASE_PREMIUM
            - PENDING_FAILED_RENEW_EXPIRATION_PROTECTION
            - PENDING_FAILED_RESERVE_PREMIUM
            - PENDING_FAILED_SUBMIT_FIREHOSE
            - PENDING_FAILED_TRANSFER_ACK_PREMIUM
            - PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM
            - PENDING_FAILED_TRANSFER_IN_PREMIUM
            - PENDING_FAILED_TRANSFER_PREMIUM
            - PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM
            - PENDING_FAILED_UNLOCK_PREMIUM
            - PENDING_FAILED_UPDATE_API
            - PENDING_FRAUD_VERIFICATION
            - PENDING_FRAUD_VERIFIED
            - PENDING_GET_CONTACTS
            - PENDING_GET_HOSTS
            - PENDING_GET_NAME_SERVERS
            - PENDING_GET_STATUS
            - PENDING_HOLD_ESCROW
            - PENDING_HOLD_REDEMPTION
            - PENDING_LOCK_CLIENT_REMOVE
            - PENDING_LOCK_DATA_QUALITY
            - PENDING_LOCK_THEN_HOLD_REDEMPTION
            - PENDING_PARKING_DETERMINATION
            - PENDING_PARK_INVALID_WHOIS
            - PENDING_PARK_INVALID_WHOIS_REMOVAL
            - PENDING_PURCHASE_PREMIUM
            - PENDING_RECONCILE
            - PENDING_RECONCILE_FIREHOSE
            - PENDING_REDEMPTION
            - PENDING_REDEMPTION_REPORT
            - PENDING_REDEMPTION_REPORT_COMPLETE
            - PENDING_REDEMPTION_REPORT_SUBMITTED
            - PENDING_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK
            - PENDING_RELEASE_PREMIUM
            - PENDING_REMOVAL
            - PENDING_REMOVAL_HELD
            - PENDING_REMOVAL_PARKED
            - PENDING_REMOVAL_UNPARK
            - PENDING_RENEWAL
            - PENDING_RENEW_EXPIRATION_PROTECTION
            - PENDING_RENEW_INFINITE
            - PENDING_RENEW_LOCKED
            - PENDING_RENEW_WITHOUT_RECEIPT
            - PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT
            - PENDING_RESERVE_PREMIUM
            - PENDING_RESET_VERIFICATION_ICANN
            - PENDING_RESPONSE_FIREHOSE
            - PENDING_RESTORATION
            - PENDING_RESTORATION_INACTIVE
            - PENDING_RESTORATION_REDEMPTION_MOCK
            - PENDING_RETRY_EPP_CREATE
            - PENDING_RETRY_HELD
            - PENDING_SEND_AUTH_CODE
            - PENDING_SETUP
            - PENDING_SETUP_ABANDON
            - PENDING_SETUP_AGREEMENT_LANDRUSH
            - PENDING_SETUP_AGREEMENT_SUNRISE2_A
            - PENDING_SETUP_AGREEMENT_SUNRISE2_B
            - PENDING_SETUP_AGREEMENT_SUNRISE2_C
            - PENDING_SETUP_AUTH
            - PENDING_SETUP_DNS
            - PENDING_SETUP_FAILED
            - PENDING_SETUP_REVIEW
            - PENDING_SETUP_SUNRISE
            - PENDING_SETUP_SUNRISE_PRE
            - PENDING_SETUP_SUNRISE_RESPONSE
            - PENDING_SUBMIT_FAILURE
            - PENDING_SUBMIT_FIREHOSE
            - PENDING_SUBMIT_HOLD_FIREHOSE
            - PENDING_SUBMIT_HOLD_LANDRUSH
            - PENDING_SUBMIT_HOLD_SUNRISE
            - PENDING_SUBMIT_LANDRUSH
            - PENDING_SUBMIT_RESPONSE_FIREHOSE
            - PENDING_SUBMIT_RESPONSE_LANDRUSH
            - PENDING_SUBMIT_RESPONSE_SUNRISE
            - PENDING_SUBMIT_SUCCESS_FIREHOSE
            - PENDING_SUBMIT_SUCCESS_LANDRUSH
            - PENDING_SUBMIT_SUCCESS_SUNRISE
            - PENDING_SUBMIT_SUNRISE
            - PENDING_SUBMIT_WAITING_LANDRUSH
            - PENDING_SUCCESS_PRE_REGISTRATION
            - PENDING_SUSPENDED_DATA_QUALITY
            - PENDING_TRANSFER_ACK_PREMIUM
            - PENDING_TRANSFER_IN
            - PENDING_TRANSFER_IN_ACK
            - PENDING_TRANSFER_IN_ACK_PREMIUM
            - PENDING_TRANSFER_IN_BAD_REGISTRANT
            - PENDING_TRANSFER_IN_CANCEL
            - PENDING_TRANSFER_IN_CANCEL_REGISTRY
            - PENDING_TRANSFER_IN_COMPLETE_ACK
            - PENDING_TRANSFER_IN_DELETE
            - PENDING_TRANSFER_IN_LOCK
            - PENDING_TRANSFER_IN_NACK
            - PENDING_TRANSFER_IN_NOTIFICATION
            - PENDING_TRANSFER_IN_PREMIUM
            - PENDING_TRANSFER_IN_RELEASE
            - PENDING_TRANSFER_IN_RESPONSE
            - PENDING_TRANSFER_IN_UNDERAGE
            - PENDING_TRANSFER_OUT
            - PENDING_TRANSFER_OUT_ACK
            - PENDING_TRANSFER_OUT_NACK
            - PENDING_TRANSFER_OUT_PREMIUM
            - PENDING_TRANSFER_OUT_UNDERAGE
            - PENDING_TRANSFER_OUT_VALIDATION
            - PENDING_TRANSFER_PREMIUM
            - PENDING_TRANSFER_PREMUIM
            - PENDING_TRANSFER_SUBMIT_PREMIUM
            - PENDING_UNLOCK_DATA_QUALITY
            - PENDING_UNLOCK_PREMIUM
            - PENDING_UPDATE
            - PENDING_UPDATED_REGISTRANT_DATA_QUALITY
            - PENDING_UPDATE_ACCOUNT
            - PENDING_UPDATE_API
            - PENDING_UPDATE_API_RESPONSE
            - PENDING_UPDATE_AUTH
            - PENDING_UPDATE_CONTACTS
            - PENDING_UPDATE_CONTACTS_PRIVACY
            - PENDING_UPDATE_DNS
            - PENDING_UPDATE_DNS_SECURITY
            - PENDING_UPDATE_ELIGIBILITY
            - PENDING_UPDATE_EPP_CONTACTS
            - PENDING_UPDATE_MEMBERSHIP
            - PENDING_UPDATE_OWNERSHIP
            - PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION
            - PENDING_UPDATE_OWNERSHIP_HELD
            - PENDING_UPDATE_REGISTRANT
            - PENDING_UPDATE_REPO
            - PENDING_VALIDATION_DATA_QUALITY
            - PENDING_VERIFICATION_FRAUD
            - PENDING_VERIFICATION_STATUS
            - PENDING_VERIFY_REGISTRANT_DATA_QUALITY
            - RESERVED
            - RESERVED_PREMIUM
            - REVERTED
            - SUSPENDED_VERIFICATION_ICANN
            - TRANSFERRED_OUT
            - UNLOCKED_ABUSE
            - UNLOCKED_SUPER
            - UNPARKED_AND_UNHELD
            - UPDATED_OWNERSHIP
            - UPDATED_OWNERSHIP_HELD
      - name: statusGroups
        in: query
        description: Only include results with `status` value in any of the specified
          groups
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - INACTIVE
            - PRE_REGISTRATION
            - REDEMPTION
            - RENEWABLE
            - VERIFICATION_ICANN
            - VISIBLE
      - name: limit
        in: query
        description: Maximum number of domains to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: marker
        in: query
        description: Marker Domain to use as the offset in results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional details to be included in the response
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - authCode
            - contacts
            - nameServers
      - name: modifiedDate
        in: query
        description: Only include results that have been modified since the specified
          date
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: iso-datetime
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSummary'
                x-content-type: application/json
            application/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSummary'
            text/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSummary'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Limit must have a value no greater than 1000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/domains/agreements:
    get:
      tags:
      - v1
      summary: Retrieve the legal agreement(s) required to purchase the specified
        TLD and add-ons
      operationId: getAgreement
      parameters:
      - name: X-Market-Id
        in: header
        description: Unique identifier of the Market used to retrieve/translate Legal
          Agreements
        required: false
        style: simple
        explode: false
        schema:
          type: string
          format: bcp-47
          default: en-US
      - name: tlds
        in: query
        description: list of TLDs whose legal agreements are to be retrieved
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: privacy
        in: query
        description: Whether or not privacy has been requested
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: forTransfer
        in: query
        description: Whether or not domain tranfer has been requested
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalAgreement'
                x-content-type: application/json
            application/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalAgreement'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalAgreement'
            text/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalAgreement'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalAgreement'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/domains/available:
    get:
      tags:
      - v1
      summary: Determine whether or not the specified domain is available for purchase
      operationId: available
      parameters:
      - name: domain
        in: query
        description: Domain name whose availability is to be checked
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: checkType
        in: query
        description: Optimize for time ('FAST') or accuracy ('FULL')
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: FAST
          enum:
          - FAST
          - FULL
          - fast
          - full
      - name: forTransfer
        in: query
        description: "Whether or not to include domains available for transfer. If\
          \ set to True, checkType is ignored"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableResponse'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Cannot convert domain label error<br>Domain is missing IDN
            script<br>Domain segment ends with dash<br>Domain starts with dashbr>Domain
            uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid
            character(s) error<br>Invalid tld error<br>Non-IDN domain name must not
            have dashes at the third and fourth position<br>Reserved name error<br>domain
            must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - v1
      summary: Determine whether or not the specified domains are available for purchase
      operationId: availableBulk
      parameters:
      - name: checkType
        in: query
        description: Optimize for time ('FAST') or accuracy ('FULL')
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: FAST
          enum:
          - FAST
          - FULL
          - fast
          - full
      requestBody:
        description: Domain names for which to check availability
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulk'
        "203":
          description: Request was partially successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailableBulkMixed'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Cannot convert domain label error<br>Domain is missing IDN
            script<br>Domain segment ends with dash<br>Domain starts with dash<br>Domain
            uses unsupported IDN script<br>FQDN fails generic validity regex<br>Invalid
            character(s) error<br>Invalid tld error<br>Non-IDN domain name must not
            have dashes at the third and fourth position<br>Reserved name error<br>Reserved
            name error<br>domain must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: domains
  /v1/domains/contacts/validate:
    post:
      tags:
      - v1
      summary: Validate the request body using the Domain Contact Validation Schema
        for specified domains.
      description: "All contacts specified in request will be validated against all\
        \ domains specifed in \"domains\". As an alternative, you can also pass in\
        \ tlds, with the exception of `uk`, which requires full domain names"
      operationId: ContactsValidate
      parameters:
      - name: X-Private-Label-Id
        in: header
        description: "PrivateLabelId to operate as, if different from JWT"
        required: false
        style: simple
        explode: false
        schema:
          type: integer
          default: 1
      - name: marketId
        in: query
        description: "MarketId in which the request is being made, and for which responses\
          \ should be localized"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: bcp-47
          default: en-US
      requestBody:
        description: An instance document expected for domains contacts validation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainsContactsBulk'
        required: true
      responses:
        "200":
          description: No response was specified
          content: {}
        "204":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Request body doesn't fulfill schema, see details in `fields`"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorDomainContactsValidate'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1/domains/purchase:
    post:
      tags:
      - v1
      summary: Purchase and register the specified Domain
      operationId: purchase
      parameters:
      - name: X-Shopper-Id
        in: header
        description: The Shopper for whom the domain should be purchased
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An instance document expected to match the JSON schema returned\
          \ by `./schema/{tld}`"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
        required: true
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainPurchaseResponse'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "domain must be specified<br>Based on restrictions declared\
            \ in JSON schema returned by `./schema/{tld}`<br>Cannot convert domain\
            \ label error<br>Domain is missing IDN script<br>Domain segment ends with\
            \ dash<br>Domain starts with dash<br>Domain uses unsupported IDN script<br>FQDN\
            \ fails generic validity regex<br>Invalid character(s) error<br>Invalid\
            \ tld error<br>Non-IDN domain name must not have dashes at the third and\
            \ fourth position<br>Reserved name error<br>`body` must be specified"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1/domains/purchase/schema/{tld}:
    get:
      tags:
      - v1
      summary: Retrieve the schema to be submitted when registering a Domain for the
        specified TLD
      operationId: schema
      parameters:
      - name: tld
        in: path
        description: The Top-Level Domain whose schema should be retrieved
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            application/javascript:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            application/xml:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            text/javascript:
              schema:
                $ref: '#/components/schemas/JsonSchema'
            text/xml:
              schema:
                $ref: '#/components/schemas/JsonSchema'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: '`tld` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/domains/purchase/validate:
    post:
      tags:
      - v1
      summary: Validate the request body using the Domain Purchase Schema for the
        specified TLD
      operationId: validate
      requestBody:
        description: "An instance document expected to match the JSON schema returned\
          \ by `./schema/{tld}`"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainPurchase'
        required: true
      responses:
        "200":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Based on restrictions declared in JSON schema returned by\
            \ `./schema/{tld}`"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1/domains/suggest:
    get:
      tags:
      - v1
      summary: "Suggest alternate Domain names based on a seed Domain, a set of keywords,\
        \ or the shopper's purchase history"
      operationId: suggest
      parameters:
      - name: X-Shopper-Id
        in: header
        description: Shopper ID for which the suggestions are being generated
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: query
        in: query
        description: Domain name or set of keywords for which alternative domain names
          will be suggested
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: "Two-letter ISO country code to be used as a hint for target\
          \ region<br/><br/>\nNOTE: These are sample values, there are many\n<a href=\"\
          http://www.iso.org/iso/country_codes.htm\">more</a>"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: iso-country-code
          enum:
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KR
          - KV
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - ST
          - SV
          - SX
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - YE
          - YT
          - ZA
          - ZM
          - ZW
      - name: city
        in: query
        description: Name of city to be used as a hint for target region
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: city-name
      - name: sources
        in: query
        description: |-
          Sources to be queried<br/><br/><ul>
          <li><strong>CC_TLD</strong> - Varies the TLD using Country Codes</li>
          <li><strong>EXTENSION</strong> - Varies the TLD</li>
          <li><strong>KEYWORD_SPIN</strong> - Identifies keywords and then rotates each one</li>
          <li><strong>PREMIUM</strong> - Includes variations with premium prices</li></ul>
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CC_TLD
            - EXTENSION
            - KEYWORD_SPIN
            - PREMIUM
            - cctld
            - extension
            - keywordspin
            - premium
      - name: tlds
        in: query
        description: "Top-level domains to be included in suggestions<br/><br/>\n\
          NOTE: These are sample values, there are many\n<a href=\"http://www.godaddy.com/tlds/gtld.aspx#domain_search_form\"\
          >more</a>"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: lengthMax
        in: query
        description: Maximum length of second-level domain
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: lengthMin
        in: query
        description: Minimum length of second-level domain
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Maximum number of suggestions to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: waitMs
        in: query
        description: "Maximum amount of time, in milliseconds, to wait for responses\n\
          If elapses, return the results compiled up to that point"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: integer-positive
          default: 1000
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
                x-content-type: application/json
            application/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
            text/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainSuggestion'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: '`query` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/domains/tlds:
    get:
      tags:
      - v1
      summary: Retrieves a list of TLDs supported and enabled for sale
      operationId: tlds
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TldSummary'
                x-content-type: application/json
            application/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TldSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TldSummary'
            text/javascript:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TldSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TldSummary'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/domains/{domain}:
    get:
      tags:
      - v1
      summary: Retrieve details for the specified Domain
      operationId: get
      parameters:
      - name: X-Shopper-Id
        in: header
        description: Shopper ID expected to own the specified domain
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: domain
        in: path
        description: Domain name whose details are to be retrieved
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
        "203":
          description: "Request was partially successful, see verifications.status\
            \ for further detail"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DomainDetail'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainDetail'
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: '`domain` must be specified'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - v1
      summary: Cancel a purchased domain
      operationId: cancel
      parameters:
      - name: domain
        in: path
        description: Domain to cancel
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Unknown domain error<br>At least two apex (aka @) `nameServers`
            must be specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - v1
      summary: Update details for the specified Domain
      operationId: update
      parameters:
      - name: domain
        in: path
        description: Domain whose details are to be updated
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Shopper-Id
        in: header
        description: "Shopper for whom Domain is to be updated. NOTE: This is only\
          \ required if you are a Reseller managing a domain purchased outside the\
          \ scope of your reseller account. For instance, if you're a Reseller, but\
          \ purchased a Domain via http://www.godaddy.com"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Changes to apply to existing Domain
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
        required: true
      responses:
        "200":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Specified Subaccount not owned by authenticated Shopper
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: The given domain is not eligible to have its nameservers changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: At least two apex (aka @) `nameServers` must be specified<br>Failed
            to update nameservers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1/domains/{domain}/contacts:
    patch:
      tags:
      - v1
      summary: Update domain
      operationId: updateContacts
      parameters:
      - name: X-Shopper-Id
        in: header
        description: "Shopper for whom domain contacts are to be updated. NOTE: This\
          \ is only required if you are a Reseller managing a domain purchased outside\
          \ the scope of your reseller account. For instance, if you're a Reseller,\
          \ but purchased a Domain via http://www.godaddy.com"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: domain
        in: path
        description: Domain whose Contacts are to be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Changes to apply to existing Contacts
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainContacts'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainContacts'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainContacts'
        required: true
      responses:
        "200":
          description: No response was specified
          content: {}
        "204":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Domain not found<br>Identity document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: '`domain` is not a valid Domain name'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: contacts
  /v1/domains/{domain}/privacy:
    delete:
      tags:
      - v1
      summary: Submit a privacy cancellation request for the given domain
      operationId: cancelPrivacy
      parameters:
      - name: X-Shopper-Id
        in: header
        description: Shopper ID of the owner of the domain
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: domain
        in: path
        description: Domain whose privacy is to be cancelled
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Request was successful
          content: {}
        "400":
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication info not sent or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Authenticated user is not allowed access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The domain does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Customer has purchased Domain Ownership Protection and the
            domain has expired<br>The domain status does not allow performing the
            operation<br>Unknown domain error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests received within interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
            application/xml:
              schema:
[...]
